.content {
  background: #eee;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 0 120px;
}

.logo {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
}

nav {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 8;
}

.projects {
  font-size: 32px;
  font-weight: bold;
  line-height: 110%;
}

.info {
  margin-top: 24px;
  font-size: 24px;
  line-height: 140%;
}

.searchbar {
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 2;
  font-size: 8px;
  text-align: right;
}

.content {
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 12;
}

/* /////////// */

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.row-1 {
  height: 8.33%vh;
}
.row-2 {
  height: 16.66vh;
}
.row-3 {
  height: 25vh;
}
.row-4 {
  height: 33.33vh;
}
.row-5 {
  height: 41.66vh;
}
.row-6 {
  height: 50vh;
}
.row-7 {
  height: 58.33vh;
}
.row-8 {
  height: 66.66vh;
}
.row-9 {
  height: 75vh;
}
.row-10 {
  height: 83.33vh;
}
.row-11 {
  height: 91.66vh;
}
.row-12 {
  height: 100vh;
}
