.profile-pic {
  grid-column: 4/6;
  grid-row: 4/7;
  img {
    object-fit: cover;
    // width: 100%;
    // height: auto;
  }
}

.contact-info {
  grid-column: 4/6;
  grid-row: 8/10;
}

.about-scroll {
  grid-column: 7/13;
  grid-row: 4/13;
}

.press {
  grid-column: 4/5;
  grid-row: 3/6;
  p {
    line-height: 150%;
  }
}

.client-lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  ul {
    li:first-child {
      text-transform: uppercase;
    }
    li {
      font-family: "GT America Mono Thin";
      font-size: 16px;
      line-height: 150%;
    }
  }
}

.about {
  overflow: scroll;
  h2 {
    font-family: "GT America";
    font-size: 24px;
    margin: 0 0 1em 0;
    font-style: normal;
    font-weight: normal;
  }
  p {
    font-family: "GT America Mono Thin";
    font-size: 16px;
    line-height: 150%;
  }
  section {
    margin-bottom: 8.33%;
  }
  ul {
    padding: 0;
  }
}
