.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "profile about about" "contact press press" "clients clients clients";
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  height: auto;
  grid-area: content;
  margin-bottom: 128px;
}

.about-container ul li {
  margin-bottom: 8px;
}

.profile-pic {
  grid-area: profile;
  width: 62%;
}

.contact-info {
  grid-area: contact;
}

.bio {
  grid-area: about;
}

.bio h1 {
  margin-top: 0;
}

.press {
  grid-area: press;
}

.clients {
  grid-area: clients;
}

.client-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 960px) {
  .about-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "profile contact contact" "about about about" "press press press" "clients clients clients";
  }
  .profile-pic {
    width: 80%;
    margin-bottom: 64px;
  }
  .client-list {
    grid-template-columns: 1fr 1fr;
  }
  .client-list ul {
    padding-right: 24px;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 560px) {
  .about-container {
    padding: 0 24px;
  }
}
