.gallery {
  display: flex;
  justify-content: center;
  // background-image: url("http://placecorgi.com/1200");
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: center;

  align-items: center;
}
