.gallery {
  grid-column: 4/12;
  grid-row: 3/10;
  display: flex;
  justify-content: center;
  background-image: url("http://placecorgi.com/1200");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
