.gallery {
  display: flex;
  justify-content: center;
  // background-image: url("http://placecorgi.com/1200");
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: center;

  align-items: center;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.left-overlay,
.right-overlay {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 50%;
  height: 100%;
}

.left-overlay {
  left: 0;
}

.right-overlay {
  right: 0;
  // cursor: url("http://localhost:3001/assets/next-arrow.svg");
}
