// .grid-image {
//   grid-gap: 16px;
//   grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
//   width: 100%;
//   max-height: 100%;
//   overflow: scroll;
// }

.grid-image {
  height: auto;
  width: 30%;
  min-height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-image img {
  height: 80%;
  width: 100%;
  background-color: #eee;
  object-fit: cover;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  max-width: 100%;
  grid-area: content;
}

figure {
  display: inline-block;
  overflow: hidden;
  padding: 8px;
  margin: 0;
  height: 62vh;
  img {
    display: inline-block;
    height: 240px;
    min-width: 100%;
    transition: transform 0.2s ease-in-out;
    object-fit: cover;
    margin: 0 auto;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    border-radius: 4px;
  }
  img:hover {
    transform: scale(1.024);
    cursor: pointer;
  }
}
figcaption {
  font-family: $body-text;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  h1 {
    width: 100%;
    margin: 4px 0;
  }
}

.image-spacer {
  display: inline-block;
  width: calc(100% - 4px);
}

@media only screen and (max-width: 960px) {
  .grid-image {
    padding: 0 12px;
  }
}
