h1 {
  transform: rotate(90deg);
  margin: 1em;
  font-family: $font-heading;
}

.landingWrapper {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}

li {
  font-family: "PitchMedium";
}
