.left-nav {
  margin: 0px 12px;

  .galleries-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      .category-link {
        text-decoration: none;
        margin: 6px 0px;
        font-family: "GT America Bold";
        font-size: 31.2889px;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 0.66px;
        -webkit-text-stroke-color: black;
        line-height: 110%;
      }
    }
  }
  .links {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      margin: 6px 0px;
      font-family: "GT America";
      text-align: left;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 140%;
      color: #323844;
    }
  }
  li:hover {
    cursor: pointer;
  }
}

.logo {
  padding-top: 8.33vh;
}

.gallery-toggle {
  margin-right: 2em;
}
.gallery-toggle:hover {
  cursor: pointer;
}
