.left-nav {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 8;

  .category-list {
    margin: 0;
    padding: 0;
    list-style: none;
    .category-link {
      text-decoration: none;
      margin: 6px 0px;
      font-family: "GT America Bold";
      font-size: 32px;
      color: white;
      -webkit-text-stroke-width: 0.66px;
      -webkit-text-stroke-color: #323844;
      line-height: 110%;
    }
    .category-link-selected {
      color: #323844;
      transition: color ease-in-out 0.24s;
    }
    .category-link:hover {
      color: #323844;
      transition: color ease-in-out 0.24s;
    }
  }
}

.logo {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
  align-items: center;
}

.main > .gallery-toggle {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 12;
  width: 96px;
}

.gallery-toggle {
  height: 100%;
  display: flex;
  align-items: center;
}

.layout-icon-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36px;
  img {
    height: 24px;
    width: 24px;
    margin: 0 0 4px 0;
  }
  p {
    font-family: "GT America";
    text-transform: uppercase;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.15em;
  }
}

.gallery-toggle:hover {
  cursor: pointer;
}

.selected-layout-icon {
  opacity: 1;
}

.unselected-layout-icon {
  opacity: 0.5;
}

.links {
  margin: 24px 0 0 0;
  padding: 0;
  list-style: none;
  line-height: 140%;
  a {
    color: #323844;
    transition: ease-in-out 0.3s;
  }
  :hover {
    color: #aaa;
    transition: ease-in-out 0.3s;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 6px 0px;
    font-family: "GT America";
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #323844;
  }
}
li > span:hover {
  cursor: pointer;
}

.selected-link::after {
  content: "\2022";
  margin-left: 8px;
}

@media only screen and (max-width: 760px) {
  .links {
    font-size: 16px;
  }
  .category-link {
    font-size: 24px;
  }
}

@media only screen and (max-width: 560px) {
  .logo {
    align-items: flex-start;
  }
  .left-nav {
    display: none;
  }
  .logo {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: center;
  }
  .main > .gallery-toggle {
    display: none;
  }
}
