.logo {
  grid-area: header;
  align-self: center;
  width: 180px;
  height: 16px;
  background: url("#{$domain}assets/logo-aya_brackett.svg") center
    center/contain no-repeat;
  color: transparent;
}

@media only screen and (max-width: 560px) {
  .logo {
    width: 100%;
  }
}
