* {
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  max-width: 83.33vw;
  height: 100vh;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(20px, auto);
}

.grid-wrapper {
  height: 100vh;
}

ul {
  text-decoration: none;
  list-style: none;
}
