* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 180px auto auto;
  grid-template-areas: "header header" "nav content" "blank blank";
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 0 80px;
  margin: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  max-width: 100%;
  grid-area: content;
}

html {
  font-family: $body-text;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: $headings;
  font-weight: normal;
  font-size: 24px;
}

ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content img {
  border-radius: 4px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $blue;
}

.horizontal-center {
  display: flex;
  align-items: center;
}

.page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hide {
  display: none;
}

@media only screen and (max-width: 960px) {
  .main {
    padding: 0 56px;
    grid-template-columns: 1fr 1.6fr;
  }
}

@media only screen and (max-width: 760px) {
  .main {
    padding: 0 32px;
  }
}

@media only screen and (max-width: 560px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px auto 80px;
    grid-template-areas: "header header" "content content" "nav nav";
    padding: 0;
  }
  // .content {
  //   grid-column-start: 1;
  //   grid-column-end: 13;
  //   grid-row-start: 3;
  //   grid-row-end: 11;
  // }
}
