#navbar {
  display: none;
}

@media only screen and (max-width: 560px) {
  #navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100vw;
    // grid-column-start: 1;
    // grid-column-end: 13;
    // grid-row-start: 12;
    // grid-row-end: 13;
    position: absolute;
    top: 91.66vh;
    height: 8.34vh;
    padding: 0 8.33%;
    z-index: 4;
    background: #ffffff;
  }
  .navbar-hamburger {
    :hover {
      cursor: pointer;
    }
  }
}

.navbar-icons {
  display: flex;
  .icon-wrapper {
    margin-right: 24px;
    :hover {
      cursor: pointer;
    }
  }
}
