#navbar {
  display: none;
  background: #ffffff;
  // height: 8.34vh;
  padding: 24px 32px;
}

@media only screen and (max-width: 560px) {
  #navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 4;
  }
  .navbar-hamburger {
    :hover {
      cursor: pointer;
    }
  }
  #navbar.hide-icons {
    justify-content: flex-end;
    .navbar-icons {
      display: none;
    }
  }
}

.navbar-icons {
  display: flex;
  .icon-wrapper {
    margin-right: 24px;
    :hover {
      cursor: pointer;
    }
  }
}
