.search-container img:hover {
  cursor: pointer;
}

.search {
  border: none;
  font-family: "GT America", monospace;
  text-transform: uppercase;
}
.search:focus {
  outline: 0;
}

.search::placeholder {
}

.search-container {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;
  font-size: 8px;
  letter-spacing: 0.15em;
  text-align: right;
}

#search {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
