@charset "UTF-8";
@import url("http://funky.haus/assets/fonts.css");
@import url("http://funky.haus/assets/next-arrow.svg");
@import url("http://funky.haus/assets/prev-arrow.svg");

/* Variables */

:root {
  --category-font: "GT America Bold", sans-serif;
  --body-font: "GT America Mono", monospace;
  --ui-font: "GT America", sans-serif;
  --dark: #323844;
  --blue: blue;
  --light-gray: #eee;
}

/* Highlight */

::-moz-selection {
  background: var(--blue);
}

::selection {
  background: var(--blue);
}

nav {
  grid-area: nav;
}

nav a,
.projects a {
  color: inherit;
}

nav .projects {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav .projects .category-link {
  text-decoration: none;
  margin: 6px 0px;
  font-family: var(--category-font), sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: var(--dark);
  -webkit-text-fill-color: rgba(255,255,255,0); /* Overrides color if webkit*/
  -webkit-text-stroke-width: 0.66px;
  -webkit-text-stroke-color: var(--dark);
  line-height: 110%;
}

nav .projects .category-link-selected {
  color: var(--dark);
  -webkit-text-fill-color: var(--dark); /* Overrides .projects */
  transition: color ease-in-out 0.25s;
}
nav .projects .category-link:hover {
  color: var(--dark);
  -webkit-text-fill-color: var(--dark); /* Overrides .projects */
  transition: color ease-in-out 0.25s;
}

.nav-wrapper {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 64px;
}

.links {
  margin: 24px 0 0 0;
  padding: 0;
  list-style: none;
  line-height: 140%;
}
.links a {
  color: var(--dark);
  transition: ease-in-out 0.3s;
}
.links :hover {
  color: #aaa;
  transition: ease-in-out 0.3s;
}
.links ul {
  margin: 0;
  padding: 0;
}
.links li {
  margin: 6px 0px;
  font-family: var(--ui-font), sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  color: var(--dark);
}

li > span:hover {
  cursor: pointer;
}

.selected-link::after {
  content: "•";
  margin-left: 8px;
}

@media only screen and (max-width: 760px) {
  .projects {
    font-size: 24px;
  }

  .links {
    font-size: 16px;
  }

  .category-link {
    font-size: 24px;
  }
}
@media only screen and (max-width: 560px) {
  .logo {
    align-items: flex-start;
  }

  nav {
    display: none;
  }

  .main > .gallery-toggle {
    display: none;
  }
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 180px auto auto;
  grid-template-areas: "header header" "nav content" "blank blank";
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 0 80px;
  margin: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  max-width: 100%;
  grid-area: content;
}

html {
  font-family: var(--body-font), monospace;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--ui-font), sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
}

em {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content img {
  border-radius: 4px;
}

@media only screen and (max-width: 560px) {
  .content img {
    border-radius: 0;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--blue);
}

.horizontal-center {
  display: flex;
  align-items: center;
}

.page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 960px) {
  .main {
    padding: 0 56px;
    grid-template-columns: 1fr 1.6fr;
  }
}
@media only screen and (max-width: 760px) {
  .main {
    padding: 0 32px;
  }
}
@media only screen and (max-width: 560px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 87px auto 87px;
    grid-template-areas: "header header" "content content" "nav nav";
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding: 0;
  }
}
.gallery-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.gallery {
  width: 100%;
  height: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.single-pic {
  height: calc(100% - 32px);
  max-width: 100%;
  object-fit: contain;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

.fade-out {
  -webkit-animation: fadeout 0.6s;
  -moz-animation: fadeout 0.6s;
  -ms-animation: fadeout 0.6s;
  -o-animation: fadeout 0.6s;
  animation: fadeout 0.6s;
}

.image-info {
  display: flex;
  width: 100%;
  margin-top: 12px;
  justify-content: space-between;
}
.image-info .caption {
  font-family: var(--body-font), monospace;
  margin: 0;
}
.image-info .caption-nav {
  font-family: var(--ui-font), sans-serif;
  text-transform: uppercase;
  font-size: 8px;
  line-height: 10px;
  min-width: 56px;
  letter-spacing: 0.15em;
}
.image-info .index-arrow {
  height: 8px;
  width: auto;
  vertical-align: -2px;
  min-width: 0;
}

.index-arrow:hover {
  cursor: pointer;
}

.left-overlay,
.right-overlay {
  display: block;
  position: absolute;
  opacity: 0;
  top: 0;
  z-index: 2;
  width: 50%;
  height: calc(100% - 32px);
  padding: 48px 0;
}

.left-overlay > div,
.right-overlay > div {
  height: 100%;
  width: 100%;
}

.left-overlay {
  left: 0;
}

.right-overlay {
  right: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media only screen and (max-width: 560px) {
  .caption {
    font-size: 0.82em;
  }

  .image-info {
    padding: 0 8.33%;
    display: none;
  }

  .single-pic {
    height: 100%;
  }
}
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "profile about about" "contact press press" "clients clients clients";
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  height: auto;
  grid-area: content;
  margin-bottom: 128px;
}

.about-container ul li {
  margin-bottom: 8px;
}

.profile-pic {
  grid-area: profile;
  width: 62%;
}

.contact-info {
  grid-area: contact;
}

.bio {
  grid-area: about;
}

.bio h1 {
  margin-top: 0;
}

.press {
  grid-area: press;
}

.clients {
  grid-area: clients;
}

.client-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 960px) {
  .about-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "profile contact contact"
      "about about about"
      "press press press"
      "clients clients clients";
  }

  .profile-pic {
    width: 80%;
    margin-bottom: 64px;
  }

  .client-list {
    grid-template-columns: 1fr 1fr;
  }

  .client-list ul {
    padding-right: 24px;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 560px) {
  .about-container {
    padding: 0 24px;
  }
}
.grid-image {
  height: auto;
  width: 33.33%;
  /* min-height: auto;
  margin: 0;
  display: flex;
  display: flex;
  flex-direction: column; */
}

.grid-image img {
  height: 80%;
  width: 100%;
  background-color: var(--light-gray);
  object-fit: cover;
}

.gallery-image img {
  height: 100%;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  max-width: 100%;
  grid-area: content;
}

figure {
  /* display: inline-block;
  overflow: hidden; */
  padding: 8px;
  margin: 0;
  height: 62vh;
}

figure img {
  /* display: inline-block;
  height: 240px;
  min-width: 100%;
    object-fit: cover;
  margin: 0 auto; */
  /*transition: transform 0.2s ease-in-out; */
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
  border-radius: 4px;
}

figure img:hover {
  /* transform: scale(1.024); */
  cursor: pointer;
}

figcaption {
  font-family: var(--body-font), monospace;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
figcaption h1 {
  width: 100%;
  margin: 4px 0;
}

.image-spacer {
  display: inline-block;
  width: calc(100% - 4px);
}

@media only screen and (max-width: 960px) {
  .grid-image {
    width: 44%;
    min-height: auto;
  }
}
@media only screen and (max-width: 560px) {
  .grid-image {
    margin: 0;
    padding: 0px;
    width: 33.33%;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }
  .grid-image:nth-of-type(3n) {
    border-right: none;
  }

  .image-wrapper {
    padding: 0;
  }

  .grid-image:nth-of-type(3n) {
    width: 33.34%;
  }

  .grid-image img {
    height: 100%;
    border-radius: 0;
  }

  .category-image {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .category-image img {
    height: calc(100% - 32px);
  }

  figcaption {
    padding: 0 8px;
    font-size: 10px;
    line-height: 110%;
    background: var(--light-gray);
    height: 32px;
    width: 100%;
    display: flex;
    align-content: center;
  }

  .product figcaption {
    display: block;
  }
}
.search {
  font-family: var(--ui-font), sans-serif;
  text-transform: uppercase;
  border: none;
  font-size: 8px;
  letter-spacing: 0.15em;
}

.main .search {
  text-align: right;
}

.search:focus {
  outline: 0;
}

.search-container {
  font-size: 8px;
  letter-spacing: 0.15em;
  text-align: right;
}
.search-container img:hover {
  cursor: pointer;
}
.search-container button {
  border: none;
  outline: none;
  background: transparent;
}
.search-container button img {
  margin-top: 2px;
}

.search-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.search-wrapper input {
  width: 100%;
}
.search-wrapper input:hover {
  cursor: text;
}

.search-component {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.main .search-container {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

@media only screen and (max-width: 560px) {
  .search-container {
    display: none;
  }

  .hamburger-menu .search-container {
    display: flex;
    width: 100%;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    padding: 6px 18px 6px 18px;
    margin-bottom: 31px;
    border: 1px solid #aaa;
    border-radius: 25px;
  }
  .hamburger-menu .search {
    width: 100%;
    height: 100%;
    padding: 0 12px 0 12px;
  }
  .hamburger-menu .search::placeholder {
    font-size: 8px;
    letter-spacing: 0.15em;
  }
}
#navbar {
  display: none;
  background: #ffffff;
  padding: 24px 32px;
  border-top: 1px solid var(--dark);
}

@media only screen and (max-width: 560px) {
  #navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 4;
  }

  .navbar-hamburger :hover {
    cursor: pointer;
  }

  #navbar.hide-icons {
    justify-content: flex-end;
  }
  #navbar.hide-icons .navbar-icons {
    display: none;
  }
}
.navbar-icons,
.navbar-hamburger {
  display: flex;
}
.navbar-icons .icon-wrapper {
  margin-right: 24px;
}
.navbar-icons .icon-wrapper :hover {
  cursor: pointer;
}

.navbar-icons,
.navbar-hamburger {
  z-index: 5;
}

.hamburger-menu {
  padding: 32px;
  background-color: white;
  border-top: 1px solid var(--dark);
  display: none;
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: 0;
  height: fit-content;
  width: 100vw;
}
.hamburger-menu .projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hamburger-menu .projects .category-link-selected {
  color: var(--dark);
  transition: color ease-in-out 0.24s;
}

.background-blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  transition: ease-in-out 0.82s;
}

.unblur {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  transition: ease-in-out 0.82s;
}

@media only screen and (max-width: 560px) {
  .hamburger-menu.visible-menu {
    bottom: 82px;
    overflow: scroll;
    transition: bottom ease-in-out 0.7s;
    display: flex;
  }

  .hamburger-menu.hidden-menu {
    bottom: -1000px;
    overflow: hidden;
    transition: bottom ease-in-out 0.7s;
    display: flex;
  }

  .hamburger-menu .links {
    display: flex;
  }
}
.mobile-info {
  position: fixed;
  height: calc(100% - 91px);
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  z-index: 6;
  transition: background-color 1s, opacity 1s, height 0s;
  -webkit-transition: background-color 1s, opacity 1s 0s, height 0s;
}

.hide {
  background-color: rgba(255, 255, 255, 0);
  opacity: 0;
  height: 0vh;
  transition: background-color 1s, opacity 1s, height 0s 1s;
  -webkit-transition: background-color 1s, opacity 1s, height 0s 1s;
}

.mobile-info span {
  font-family: var(--body-font), monospace;
  font-size: 16px;
  line-height: 120%;
  max-width: 66.66%;
}

.hide-info {
  -webkit-animation: fadout-hide 1s;
  -moz-animation: fadout-hide 1s;
  -ms-animation: fadout-hide 1s;
  -o-animation: fadout-hide 1s;
  animation: fadout-hide 1s;
}

@keyframes fadout-hide {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.back-button {
  font-family: var(--ui-font), sans-serif;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 0.15em;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  grid-column: 2/2;
  grid-row: 1/1;
}
.back-button span:hover {
  cursor: pointer;
}
.back-button .index-arrow {
  height: 8px;
  width: auto;
  vertical-align: -1px;
}

@media only screen and (max-width: 560px) {
  .back-button {
    display: none;
  }
}

/*/// ↓ News ↓ ///*/

.news-post {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "text text text" "image image image";
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-area: content;
  margin-bottom: 128px;
  min-width: 100%;
}

.post-text {
  grid-area: text;
  grid-column-start: 2;
}

.post-text h1 {
  max-width: 560px;
  margin-bottom: 8px;
}

.post-images {
  grid-area: image;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* HIDE NEWS CAPTIONS .post-images * figcaption {
    display: none;
} */

.post-images .grid-image img {
        height: auto;
    }

article {
  max-width: 620px;
  margin: 32px 0;
}

time {
  font-family: var(--ui-font);
}

@media only screen and (max-width: 960px) {
  .news-post {
    padding: 0 24px;
  }

  .post-text {
    grid-column-start: 1;
  }
    
    .post-images .grid-image {
        width: 100%;
    }
}

/*/// ↑ News ↑ ///*/

.logo {
  grid-area: header;
  align-self: center;
  width: 180px;
  height: 16px;
  background: url("http://funky.haus/assets/logo-aya_brackett.svg") center
    center/contain no-repeat;
  color: transparent;
}

@media only screen and (max-width: 560px) {
  .logo {
    width: 100%;
  }
}
nav .gallery-toggle {
  grid-area: nav;
  position: relative;
  bottom: 0;
  width: 96px;
  display: flex;
  align-items: flex-end;
}

.gallery-toggle {
  height: 100%;
  display: flex;
  align-items: center;
}

.layout-icon-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 64px;
}

#navbar .layout-icon-container {
  margin-top: 0;
}

.icon-wrapper,
.navbar-hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36px;
}
.icon-wrapper img,
.navbar-hamburger img {
  height: 24px;
  width: 24px;
}
.icon-wrapper span,
.navbar-hamburger span {
  font-family: var(--ui-font), sans-serif;
  text-transform: uppercase;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.15em;
  margin-top: 8px;
}

.gallery-toggle:hover {
  cursor: pointer;
}

.selected-layout-icon {
  opacity: 1;
}

.unselected-layout-icon {
  opacity: 0.4;
}

/*/// ↓ Nav-icon ↓ ///*/

#nav-icon {
  width: 24px;
  height: 24px;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 1px;
  margin-top: 0;
  width: 100%;
  background: var(--dark);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2px;
  left: 4px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 19px;
  left: 4px;
}

/*/// ↑ Nav-icon ↑ ///*/
